<style>
  .card {
    border: none;
  }


</style>
<br><br><br><br><br>
<div class="container">
  <% if @people.count > 0 %>
      <% @people.each_with_index do |item, index| %>
          <button type="button" disabled class="btn btn-block btn-<%= %w(danger primary warning success info)[index % 6] %>
               btn-circle "><%= item[0] %></button>

          <div class="jumbotron bg-light">
            <div class="row">
              <% item[1].each do |person| %>

                  <div class="card col-sm-3 my-3 bg-light" style="width: 20rem;">
                    <a href="<%= person_path(person) %>">
                      <%= image_tag person.avatar, class: 'card-img-top' %>
                    </a>
                    <div class="card-body bg-white">
                      <p class="card-text small text-center ">
                        <%= person.name %><br>
                        <%= person.interest %><br>
                        <%= person.email %>
                      </p>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>

      <% end %>
  <% end %>
</div>
