<br><br><br><br><br>
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-5 text-center">
        <%= image_tag @person.avatar, width: 260, class: 'rounded-circle' %>
      </div>

      <div class="col-7">
        <table class="table table-responsive">
          <tr>
            <th>姓名：</th>
            <td><%= @person.name %></td>
          </tr>
          <tr>
            <th>性别：</th>
            <td><%= @person.gender %></td>
          </tr>

          <tr>
            <th>年级：</th>
            <td><%= @person.period %></td>
          </tr>
          <tr>
            <th>邮箱：</th>
            <td><%= @person.email %></td>
          </tr>
          <% unless @person.blog.blank? %>
              <tr>
                <th>博客：</th>
                <td><%= link_to @person.blog, @person.blog, target: '_blank' %>&nbsp;</td>
              </tr>
          <% end %>
          <% unless @person.github.blank? %>
              <tr>
                <th>GitHub：</th>
                <td><%= link_to @person.github, @person.github, target: '_blank' %></td>
              </tr>
          <% end %>
          <tr>
            <th>方向：</th>
            <td><%= @person.interest %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>

