<div class="container">
  <%= link_to 'Edit', edit_admin_news_path(@news), class: 'btn btn-sm btn-secondary' %>
  <%= link_to 'Back', admin_news_index_path, class: 'btn btn-sm btn-secondary' %>
  <br><br>

  <div class="jumbotron">

    <div class="text-right">
      <small class="text-muted"><%= time_ago_in_words @news.updated_at %> ago</small>
    </div>
    <div class="text-center">
      <h3><%= @news.title %></h3>
    </div>

    <p class="text-muted"><%= @news.brief %></p>
    <hr class="bg-info">

    <p><%= @news.content.html_safe %></p>
  </div>

</div>
