<div class="container">
  <button type="button" class="btn btn-lg btn-info btn-block">Projects</button>

  <br>
  <div class="text-right">
    <%= link_to 'New Project', new_admin_project_path, class: 'btn btn-secondary' %>
  </div>
  <br>


  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @projects.each_with_index do |project, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= project.name %></td>
          <td>
            <%= link_to 'Show', [:admin, project], class: 'btn btn-sm btn-info' %>
            <%= link_to 'Edit', edit_admin_project_path(project), class: 'btn btn-sm btn-info' %>
            <%= link_to 'Destroy', [:admin, project], method: :delete, data: { confirm: 'Are you sure?' },
                        class: 'btn btn-sm btn-danger' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>

</div>
