<style>
  h1 {
    letter-spacing: 0.2rem;
    opacity: 0.7;
  }

  .jumbotron {
    padding: 3rem 2rem;
  }

  h5 {
    font-weight: normal;
  }

  .btn-circle {
    width: 70px;
    height: 70px;
    text-align: center;
    padding: 6px 0;
    font-size: 1rem;
    line-height: 1.428571429;
    border-radius: 35px;
  }

</style>

<div class="projects-image">
  <br><br><br><br><br><br>
  <div class="container text-center">
    <h1>PROJECTS</h1>
  </div>
</div>
<br>
<br>
<% @projects.each_with_index do |project, index| %>
    <div class="container jumbotron bg-light">
      <div class="row">
        <div class="col-11">
          <a href="<%= project_path(project) %>"><h5><%= project.name %></h5></a>
          <p class="small text-muted"><%= project.intro %></p>
        </div>
        <div class="col-1">
          <div class="text-right">
            <button type="button" disabled class="btn btn-lgbt btn-<%= %w(danger primary warning success info)[index % 6] %> btn-circle ">
              <%= project.created_at.year %>
            </button>
          </div>
        </div>
      </div>
    </div>
<% end %>

