<style>
  h1 {
    letter-spacing: 0.2rem;
    opacity: 0.7;
  }

  .jumbotron {
    padding: 3rem 2rem;
  }

  h5 {
    font-weight: normal;
  }

  .btn-circle {
    width: 70px;
    height: 70px;
    text-align: center;
    padding: 6px 0;
    font-size: 1rem;
    line-height: 1.428571429;
    border-radius: 35px;
    position: absolute;
  }


</style>

<div class="projects-image">
  <br><br><br><br><br><br>
  <div class="container text-center">
    <h1>PROJECTS</h1>
  </div>
</div>
<br>
<br>
<% if @projects.count > 0 %>

    <% @projects.each_with_index do |item, index| %>
        <div class="container">
          <button type="button" disabled
                  class="btn btn-circle btn-<%= %w(danger primary warning success info)[index % 6] %>">
            <%= item[0] %>
          </button>
          <div class="row">
            <% item[1].each do |project| %>
            <div class="col-1">
            </div>
                <div class="col-11">
                  <div class="container jumbotron">
                    <a href="<%= project_path(project) %>"><h5><%= project.name %></h5></a>
                    <p class="small text-muted"><%= project.intro %></p>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
    <% end %>

<% end %>

